body
{
margin:0;
}
a
{
text-decoration:none;
color:white;
}
.topnav
{
	height:48px;
	background:blue;
}
#links
{
	float:left;
	padding:15px;
	margin:0 15 0 15;
}
#links:hover
{
	background:red;
}
#linksa
{
	float:right;
}
.content
{
	height:270px;
	width:100%;
	background-position:center;
	animation-name:sample;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
@keyframes sample
{
	25%{background-image:url(image/222.png)}
	50%{background-image:url(image/homeslider-1.jpg)}
	75%{background-image:url(image/home-banner-two-new.jpg)}
	100%{background-image:url(image/pic.png)}
}
.cuntentsub
{
	width:25%;
	background:#1c1c2e;
	color:white;
	position:absolute;
	padding:10px;
	border-radius:0 5px 5px 0;
	opacity:.8;
	animation-name:slide;
	animation:slide 2s forwards;
	animation-delay:1s;
	left:-600;
}
@keyframes slide
{
	100%{left:0;}
}
#space
{
	background:black;
}
#side
{
	width:250;
}
#subtitle
{
	font-size:3em;
	color:gold;
}
#subtitle:hover
{
	font-size:3em;
	color:white;
	text-decoration:underline;
}
#sub
{
	color:yellow;
	font-style:italic;
	font-size:11px;
}
#suby
{
	color:#dccc80;

	
}
li
{
	color:#dccc80;
}
#text
{
	color:#dccc80;
}
li:hover,#text:hover
{
	color:white;
}
#blur
{
	filter:blur(50px) brightness(150%);
	margin:50px;
}
#footer
{
background:#999;
}
#left
{
	float:right;
}